name: PullRequest
on:
#  pull_request:
#    branches:
#      - '**'
  pull_request_target:
    branches:
      - '**'


jobs:
  comment-in-pr:

    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/github-script@v6
        with:        
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: Thank you for uploading your design!  If you have not already checked it, please run the SiEPIC Functional Verification in KLayout, using the menu SiEPIC-Verification-Functional Layout Check (V).  Please note that we have added a new rule (on May 2, 2024) to SiEPIC-Tools and the EBeam PDK: The grating coupler spacing (pitch) must be at least 60.0 microns. This is to help avoid the probe station from accidentally aligning to an adjacent circuit. You may continue making updates to your design, or even contributing additonal designs (using a separate file name), until the tape-out deadline.  
            })
